@model ProductionApp.UserInterface.Models.CustomerInvoiceMailPreviewViewModel

<div id="mailcontainerDiv">
    <div style="max-width: 1100px; font-size: 16px; line-height: 24px; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #555; margin: auto; padding: 10px 40px 10px 40px; border: 3px solid #adadad;">
        <table cellpadding="0" cellspacing="0" style="width: 100%; line-height: inherit; text-align: left;border-bottom:solid .2px #0094ff">
            <tr class="top" valign="top">
                <td style="width:40%;"><img src="@ViewBag.path" style="width:100px !important; workAround:image"></td>
                <td style="width:20%;" colspan="2"></td>
                <td style="width:40%;text-align:right">
                    <table style="width:100%;font-size:14px">
                        <tr>
                            <td colspan="3" style="text-align:right;">
                                <span style="font-size:25px">Customer Invoice</span>
                            </td>
                        </tr>
                        <tr style="padding-top:10px">
                            <td style="text-align:left;"><b>Invoice #</b> </td>
                            <td>:</td>
                            <td style="text-align:right;font-weight:bold; padding-left:5px">@Model.CustomerInvoice.InvoiceNo</td>
                        </tr>
                        <tr>
                            <td style="text-align:left;"><b>Invoice Date</b></td>
                            <td>:</td>
                            <td style="text-align:right;padding-left:5px">@Model.CustomerInvoice.InvoiceDateFormatted  </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="6"> </td>@*Please note that the space given betwwen td is alt[Gr]+255. given so that the image wont override over border line *@
            </tr>
        </table>

        <br />
        @{ decimal grossAmt = 0, total = 0;}
        <table>
            <tr style="width:100%;">
                <td><b>From</b></td>
                <td></td>
                <td><b>To</b></td>
            </tr>
            <tr style="width:100%;">
                <td style="width:400px;text-align:left;font-size:14px;vertical-align:top;">
                    @Model.CustomerInvoice.CompanyName<br />
                    @Model.CustomerInvoice.CompanyAddress<br />
                </td>
                <td style="width:200px;"></td>
                <td style="width:400px;text-align:left;font-size:14px;vertical-align:top;">
                    @Model.CustomerInvoice.Customer.CompanyName<br />
                    @Model.CustomerInvoice.BillingAddress<br />
                </td>
            </tr>
        </table>

        <br />
        <table id="ItemDetailsTable" style="font-family: arial, sans-serif; border-collapse: collapse; width: 100%; line-height: inherit; text-align: left;" cellspacing="0" width="100%">
            <thead>
                <tr  valign="top">
                    <th style="width:5%; text-align: left;padding: 8px;font-size:12px; ">Sl No.</th>
                    <th style="width:30%; text-align: left;padding: 8px;font-size:12px;">Product</th>
                    <th style="width:10%; text-align: left;padding: 8px;font-size:12px;">GST%</th>
                    @*<th style="width:7%; text-align: left;padding: 8px;font-size:12px;">SGST%</th>
                    <th style="width:7%; text-align: left;padding: 8px;font-size:12px;">CGST%</th>
                    <th style="width:7%; text-align: left;padding: 8px;font-size:12px;">IGST%</th>*@
                    <th style="width:7%; text-align: right;padding: 8px;font-size:12px;">Qty</th>
                    <th style="width:7%; text-align: right;padding: 8px;font-size:12px;">Weight</th>
                    <th style="width:7%; text-align: right;padding: 8px;font-size:12px;">Rate</th>
                    <th style="width:10%; text-align: right;padding: 8px;font-size:12px;">Trade Disc</th>
                    <th style="width:10%; text-align: right;padding: 8px;font-size:12px;">Taxable Amt</th>
                    <th style="width:14%; text-align: right;padding: 8px;font-size:12px;">Total</th>
                </tr>
                <tr>
                    <td colspan="9" style="vertical-align: top; border-top-style: solid; border-top-width: 2px; border-top-color: #eee; font-weight: bold; padding: 2px;width:100%" valign="top">
                </tr>
                @if (Model.CustomerInvoice.CustomerInvoiceDetailList != null)
                {
                    int slno = 1;


                    foreach (var mp in Model.CustomerInvoice.CustomerInvoiceDetailList)
                    {
                        <tr style="text-align: right;padding: 8px;border-bottom-style: solid;border-bottom-width: 2px;border-bottom-color: #eee;" valign="top">
                            <td style="text-align: left;padding: 8px;font-size:12px;">@slno</td>
                            <td style="text-align: left;padding: 8px;font-size:12px;">
                                @mp.ProductName @(mp.IsInvoiceInKG ? "(Invoice In KG)" : "")
                                <br /><b>HSNNo :</b>@mp.Product.HSNNo
                            </td>
                            <td style="text-align: left;padding: 8px;font-size:12px;"> @mp.TaxTypeDescription.Replace("GST","")</td>
                            @*<td style="text-align: left;padding: 8px;font-size:12px;">@mp.SGSTPerc</td>
                            <td style="text-align: left;padding: 8px;font-size:12px;">@mp.CGSTPerc</td>
                            <td style="text-align: left;padding: 8px;font-size:12px;">@mp.IGSTPerc</td>*@
                            <td style="text-align: right;padding: 8px;font-size:12px;">@mp.Quantity</td>
                            <td style="text-align: right;padding: 8px;font-size:12px;">@mp.Weight</td>
                            <td style="text-align: right;padding: 8px;font-size:12px;">@mp.Rate</td>
                            <td style="text-align: right;padding: 8px;font-size:12px;">@mp.TradeDiscountAmount</td>
                            <td style="text-align: right;padding: 8px;font-size:12px;">@Math.Round(mp.TaxableAmount, 2)</td>
                            <td style="text-align: right;padding: 8px;font-size:12px;">@Math.Round(mp.Total, 2)</td>
                        </tr>
                        slno = slno + 1;
                        grossAmt = Math.Round(grossAmt + mp.Total, 2);
                    }
                    total = grossAmt - Model.CustomerInvoice.Discount;
                }
            </thead>
        </table>
        <br />

        <table cellpadding="0" cellspacing="0" style="width: 100%; line-height: inherit;">
            <tr>
                <td style="vertical-align: top; width:30%; padding: 5px;font-size:12px;" valign="top"></td>
                <td style="vertical-align: top; width:30%; padding: 5px;font-size:12px;" valign="top"></td>
                <td style="vertical-align: top; padding: 5px;font-size:12px;" valign="top">
                    Total Taxable Amount
                </td>
                <td style="vertical-align: top; text-align: right; padding: 5px;font-size:12px;" align="right" valign="top">
                    @Model.CustomerInvoice.TotalTaxableAmount
                </td>
            </tr>

            <tr class="">
                <td style="vertical-align: top; padding: 5px;font-size:12px;" valign="top"></td>
                <td style="vertical-align: top; padding: 5px;font-size:12px;" valign="top"></td>
                <td style="vertical-align: top; padding: 5px;font-size:12px;" valign="top">
                    Total CGST Amount
                </td>

                <td style="vertical-align: top; text-align: right; padding: 5px;font-size:12px;" align="right" valign="top">
                    @Model.CustomerInvoice.TotalCGSTAmount
                </td>
            </tr>

            <tr class="">
                <td style="vertical-align: top; padding: 5px;font-size:12px;" valign="top"></td>
                <td style="vertical-align: top; padding: 5px;font-size:12px;" valign="top"></td>
                <td style="vertical-align: top; padding: 5px;font-size:12px;" valign="top">
                    Total SGST Amount
                </td>

                <td style="vertical-align: top; text-align: right; padding: 5px;font-size:12px;" align="right" valign="top">
                    @Model.CustomerInvoice.TotalSGSTAmount
                </td>
            </tr>

            <tr class="">
                <td style="vertical-align: top; padding: 5px;font-size:12px;" valign="top"></td>
                <td style="vertical-align: top; padding: 5px;font-size:12px;" valign="top"></td>
                <td style="vertical-align: top; padding: 5px;font-size:12px;" valign="top">
                    Total IGST Amount
                </td>

                <td style="vertical-align: top; text-align: right; padding: 5px;font-size:12px;" align="right" valign="top">
                    @Model.CustomerInvoice.TotalIGSTAmount
                </td>
            </tr>

            <tr class="">
                <td style="vertical-align: top; padding: 5px;font-size:12px;" valign="top"></td>
                <td style="vertical-align: top; padding: 5px;font-size:12px;" valign="top"></td>
                <td style="vertical-align: top; padding: 5px;font-size:12px;" valign="top">
                    Gross Amount
                </td>
                <td style="vertical-align: top; text-align: right; border-top-style: solid; border-top-width: 2px; border-top-color: #eee; font-weight: bold; padding: 5px;font-size:12px;" align="right" valign="top">
                    @grossAmt
                </td>
            </tr>
            <tr class="item">
                <td style="vertical-align: top; padding: 5px;font-size:12px;" valign="top"></td>
                <td style="vertical-align: top; padding: 5px;font-size:12px;" valign="top"></td>
                <td style="vertical-align: top;  padding: 5px;font-size:12px;" valign="top">
                    Cash Discount
                </td>

                <td style="vertical-align: top; text-align: right; padding: 5px;font-size:12px;" align="right" valign="top">
                    @Model.CustomerInvoice.Discount
                </td>
            </tr>

            <tr class="">
                <td style="vertical-align: top; padding: 5px;font-size:12px;" valign="top"></td>
                <td style="vertical-align: top; padding: 5px;font-size:12px;" valign="top"></td>
                <td style="vertical-align: top; padding: 5px;" valign="top"></td>
                <td style="vertical-align: top; text-align: right; padding: 5px;" align="right" valign="top"></td>
            </tr>

            <tr class="total">
                <td style="vertical-align: top; padding: 5px;font-size:12px;" valign="top"></td>
                <td style="vertical-align: top; padding: 5px;font-size:12px;" valign="top"></td>
                <td style="vertical-align: top; padding: 5px;" valign="top"> Total </td>
                <td style="vertical-align: top; text-align: right; border-top-style: solid; border-top-width: 2px; border-top-color: #eee; font-weight: bold; padding: 5px;font-size:14px;" align="right" valign="top">
                    ₹ @total
                </td>
            </tr>
        </table>
        <br />
        <table style="width:100%; font-size:12px;">
            <tr>
                <td style="width:20%">
                    <b>Total In Words </b>
                </td>
                <td> : </td>
                <td style="border-bottom:1px dotted black;width:80%;">
                    <b>@Model.CustomerInvoice.InvoiceAmountWords &nbsp;Only </b>
                </td>
            </tr>
        </table>
        <br />
        <table style="width:100%; font-size:12px;">

            <tr valign="top">
                <td style="width:20%">
                    <b>Bank Details </b>
                </td>
                <td> : </td>
                <td style="width:80%;">
                    <b>@Model.CustomerInvoice.BankName</b><br />
                    <b>@Model.CustomerInvoice.BankAccDetail</b><br />
                </td>
            </tr>
        </table>
        <br />
        <table style="width:100%; font-size:12px;">
            <tr valign="top">
                <td style="border-bottom:1px thick black">
                    <b>Declaration</b>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr valign="top">
                <td colspan="3">
                    @Model.CustomerInvoice.InvoiceDeclaration<br />
                </td>
            </tr>
            <tr valign="top">
                <td style="text-align: right" colspan="3">
                    For <b>@Model.CustomerInvoice.CompanyName</b><br />
                </td>
            </tr>
            <tr>
                <td colspan="3"><br /></td>
            </tr>
        </table>
    </div>
</div>
