@model ProductionApp.UserInterface.Models.SalesOrderViewModel

<div class="col-md-12">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Recent Sales Order</h3>
        </div>

        <div class="with-border bg-green" style="height:2px!important"></div>
        <div class="box-body">
            <div class="table-responsive">
                <table class="table no-margin">
                    <thead style="display:table;width:100%; ">
                        <tr>
                            <th style="width:25%;">OrderNo.</th>                            
                            <th style="width:25%;">Customer</th>
                            <th style="width:25%;">Ref Customer</th>
                            <th style="width:30%;">Exp Delv Date</th>
                        </tr>
                    </thead>
                    <tbody style="height:400px;max-height:500px;overflow-y:scroll;display:block;width:100%;">
                        @if (Model.SalesOrderList != null)
                        {
                            for (int i = 0; i < Model.SalesOrderList.Count; i++)
                            {
                                <tr>
                                    <td style="width:25%;"><a href="SalesOrder/AddSalesOrder?code=SALE&id=@Model.SalesOrderList[i].ID">@Model.SalesOrderList[i].OrderNo</a></td>
                                    <td style="width:25%;">@Model.SalesOrderList[i].CustomerName</td>
                                    <td style="width:25%;">@Model.SalesOrderList[i].ReferenceCustomerName</td>
                                    <td style="width:20%;">@Model.SalesOrderList[i].ExpectedDeliveryDateFormatted</td>                                    
                                </tr>
                            }

                            for (int i = (Model.SalesOrderList == null ? 0 : Model.SalesOrderList.Count); i < 10; i++)
                            {
                                <tr>
                                    <th>-</th>
                                    <th>-</th>
                                    <td>-</td>
                                    <td>-</td>
                                    <td><span class="label label-info bg-orange ">-</span></td>
                                </tr>
                            }
                        }
                        else
                        {
                            for (int i = 0; i < 10; i++)
                            {
                                <tr>
                                    <th>-</th>
                                    <th>-</th>
                                    <td>-</td>
                                    <td>-</td>
                                    <td><span class="label label-info bg-green ">-</span></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>

    </div>

    <div class="box-footer clearfix">

        <a href="@Model.BaseURL" class="label bg-green">View All</a>


    </div>


</div>