@using ProductionApp.UserInterface.App_Start
@model ProductionApp.UserInterface.Models.SupplierAdvanceSearchViewModel
@{
    ViewBag.Title = "View Suppliers";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@section styles {
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/DataTables/css/datatable")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/DataTables/css/datatableButtons")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/css/Select2")
}

<div style="width:100%;">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("ViewSupplier","Supplier",new { code=ViewBag.SysModuleCode })"><i class="fa fa-cogs"></i> Masters</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</div>

<section class="content">
    <div class="row">
        <div class="" id="" style="min-height:25px">

            @{
                var data = new { actionType = "List" };
                @Html.Action("ChangeButtonStyle", "Supplier", data);
            }
        </div>
    </div>
    <div class="row summaryboxes">

        <div class="clearfix visible-sm-block"></div>

    </div>
    <div class="row">
        &nbsp;
    </div>

    <div class="row tableContainer">
        <div class="form-group col-md-8">
            <div class="col-md-12">
                @Html.LabelFor(model => model.SearchTerm, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-12">
                <div class="input-group">
                    @Html.EditorFor(model => model.SearchTerm, new { htmlAttributes = new { @class = "form-control HeaderBox" } })
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit" style="height:28px" onclick="BindOrReloadSupplierTable('Search')"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="row tableContainer">
            &nbsp;

            <div class="col-md-12">
                <table id="tblSupplier" class="table table-striped table-bordered table-hover customgrd" cellspacing="0" width="100%">
                    <thead>
                        <tr class="text-center TableHead">
                            <th>Company Name</th>
                            <th>Contact Person</th>
                            <th>Product Name</th>
                            <th>Mobile</th>
                            <th>Tax Reg No</th>
                            <th>PAN No.</th>
                            <th>...</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

</section>



@section Scripts {
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/datatable")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/jsZip")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/datatableButtons")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/select2")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/UserJs/SupplierJS/ViewSupplier")
}
