@model ProductionApp.UserInterface.Models.BankViewModel

@using (Ajax.BeginForm("InsertUpdateBank", "Bank", null, new AjaxOptions { HttpMethod = "POST", Confirm = "", OnSuccess = "SaveSuccessBank", OnFailure = "NetworkFailure", AllowCache = false, LoadingElementId = "", OnBegin = "OnMasterBegin", OnComplete = "OnMasterComplete" }, new { @class = "form-horizontal", role = "form", @id = "BankForm" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.IsUpdate, htmlAttributes: new { @class = "" })
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group col-md-12">
            <div class="col-md-12">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label lblrequired" })
                </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        @if (Model.IsUpdate)
                        {
                            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                        }
                        else
                        {
                            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                        }
                    </div>
                </div>
            </div>

        <div class="form-group col-md-12">
            <div class="col-md-12">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

        <div class="form-group col-md-12">
            <div class="col-md-12">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.Opening, htmlAttributes: new { @class = "control-label" })
                </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Opening, new { htmlAttributes = new { @class = "form-control Amount ApplyCurrency" } })
                        @Html.ValidationMessageFor(model => model.Opening, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

        @*<div class="form-group col-md-12">
            <div class="col-md-12">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.ActualODLimit, htmlAttributes: new { @class = "control-label" })
                </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.ActualODLimit, new { htmlAttributes = new { @class = "form-control Amount ApplyCurrency" } })
                        @Html.ValidationMessageFor(model => model.ActualODLimit, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>*@

        @*<div class="form-group col-md-12">
            <div class="col-md-12">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.DisplayODLimit, htmlAttributes: new { @class = "control-label" })
                </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.DisplayODLimit, new { htmlAttributes = new { @class = "form-control Amount ApplyCurrency" } })
                        @Html.ValidationMessageFor(model => model.DisplayODLimit, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-12">
                <div class="col-md-11" style="margin-bottom: 2%;margin-top: 10px;">
                    <button type="submit" id="btnSaveMaster" class="btn btn-info pull-right" style="margin-right:-5px;">Save Changes <i class="fa fa-spinner fa-spin" id="imgMasterLoading" style="display:none;"></i></button>
                </div>
            </div>
        </div>

    </div>
}
<script>
    $(document).ready(function () {
        $.validator.unobtrusive.parse("#BankForm");
    });    
</script>
