@using ProductionApp.UserInterface.App_Start
@model ProductionApp.UserInterface.Models.InventoryReOrderStatusFGReportViewModel

@{
    ViewBag.Title = "Inventory ReOrder Status Report";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section styles {
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/DataTables/css/datatable")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/DataTables/css/datatableButtons")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/css/Select2")
}

<style>
    table.dataTable tr.odd {
        background-color: #ebf2f5;
    }

    table.dataTable tr.even {
        background-color: white;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 20px !important;
    }
</style>

<div style="width:100%;">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-cogs"></i>Reports</a></li>
        <li class="active">Inventory Re-Order Satus - FG/Components</li>
    </ol>
</div>
<section class="content">
    <div class="form-horizontal">
        <div class="col-md-9" style="margin-top:10px;">

            <div class="col-md-9">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.SearchTerm, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-12">
                    <div class="input-group">
                        @Html.EditorFor(model => model.SearchTerm, new { htmlAttributes = new { @class = "form-control HeaderBox", @id = "SearchTerm", @onkeypress = "RedirectSearchClick(event,this)" } })
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit" style="height:27.5px" onclick="BindOrReloadInventoryReorderFGTable('Search')"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="col-md-3" style="min-height:25px">
            @{
                var data = new { actionType = "List" };
                @Html.Action("ChangeButtonStyle", "DashboardReport", data);
            }
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-12" style="padding-top:5px;">
            @*Advance Filter *@
            <div class="col-md-12">
                <p id="filter" style="float:right;font-size:small"><i class="fa fa-filter advanceFilterLink" aria-hidden="true"></i>&nbsp;<a href="#demo" class="accordion" data-toggle="collapse" aria-expanded="false" aria-controls="demo">Advanced Filter</a></p>
            </div>
        </div>
    </div>


    <div class="row tableContainer">
        <div class="form-group col-md-12 collapse" id="demo">
            <div style="border-top:1px solid #d9d9d9;margin-left: 15px;" class="form-group col-md-12"></div>

            <div class="col-md-12">





                <div class="col-md-3">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.ItemStatus, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-12">
                        @{
                            List<SelectListItem> InventoryItemStatus = new List<SelectListItem>();
                            InventoryItemStatus.Add(new SelectListItem
                            { Text = " All Items", Value = "0", Selected = true });
                            InventoryItemStatus.Add(new SelectListItem
                            { Text = "Items To Produce", Value = "1" });
                            InventoryItemStatus.Add(new SelectListItem
                            { Text = "Items with sufficient stock", Value = "2" });
                            InventoryItemStatus.Add(new SelectListItem
                            { Text = "Items without re-order level defined", Value = "3" });

                        }
                        @Html.DropDownListFor(model => model.ItemStatus, InventoryItemStatus, "--Select Status--", new { @class = "form-control", style = "padding:4px 12px;", @id = "Status" })
                    </div>
                </div>
             

                <div class="col-md-3">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.ProductType, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-12">
                        @{
                            List<SelectListItem> ProductTypeStatus = new List<SelectListItem>();
                            ProductTypeStatus.Add(new SelectListItem
                            { Text = "Component", Value = "COM" });
                            ProductTypeStatus.Add(new SelectListItem
                            { Text = "Product", Value = "PRO"});
                            ProductTypeStatus.Add(new SelectListItem
                            { Text = "SubComponent", Value = "SUB" });
                        }
                        @Html.DropDownListFor(model => model.ProductType, ProductTypeStatus, "--Select Type--", new { @class = "form-control", style = "padding:4px 12px;", @id = "Type" })
                    </div>
                </div>



                @*<div class="col-md-3">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-12">
                        @Html.DropDownListFor(model => model.Code, Model.MaterialType.MaterialTypeSelectList, "--Select Material Type--", new { @class = "form-control BlockEnter", style = "width:100%", @id = "MaterialType" })
                    </div>

                </div>*@

                <div class="col-md-2">
                    <a class="btn btn-primary" style="right:-750px;margin-top:20px" onclick="BindOrReloadInventoryReorderFGTable('Apply')">Apply</a>
                </div>


            </div>

        </div>
    </div>

    <div class="col-md-12">
        <table id="tblInventoryReOrderStatusFGReport" class="table stripe" cellspacing="0" width="100%">
            <thead>
                <tr class="text-center TableHead">
                    <th>ID</th>
                    <th>Item</th>
                    <th>Type</th>
                    <th>Current Stock(A)</th>
                    <th>Sale Orders Due(B)</th>
                    <th>Net Available(C=A-B)</th>
                    <th>Re-Order Level</th>
                    <th>Short Fall/Place Order</th>
                </tr>
            </thead>
        </table>
    </div>
</section>

@section Scripts {
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/datatable")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/jsZip")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/datatableButtons")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/select2")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/UserJs/Report/InventoryReOrderStatusFGReport")
}
