@model ProductionApp.UserInterface.Models.BillOfMaterialViewModel


<div class="col-md-12 headSeperator"><i class="fa fa-th ig-aqua" aria-hidden="true"></i> General</div>


@using (Ajax.BeginForm("InsertUpdateBillOfMaterial", "BillOfMaterial", new AjaxOptions { HttpMethod = "POST", Confirm = "", OnSuccess = "SaveSuccess", OnFailure = "NetworkFailure", AllowCache = false, LoadingElementId = "", OnBegin = "OnServerCallBegin", OnComplete = "OnServerCallComplete" }, new { @class = "form-horizontal", role = "form", @id = "BillOfMaterialForm" }))
{
    <div class="form-group col-md-12" style="margin-left:1px">
        @Html.HiddenFor(model => model.ID, htmlAttributes: new { @id ="HdfID"})
        @Html.HiddenFor(model => model.IsUpdate, htmlAttributes: new { @id = "HdfIsUpdate" })
        <div class="form-group col-md-4">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Product, htmlAttributes: new { @class = "control-label lblrequired" })
            </div>
            <div class="col-md-12">
                <div id="divProductDropdown">
                    @Html.Action("ProductDropdown", "Product", new { required = "" })
                </div>
                @Html.HiddenFor(model => model.ProductID, htmlAttributes : new { @id= "hdnProductID", @value = Guid.Empty })
                @Html.ValidationMessageFor(model => model.ProductID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-4">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label lblrequired" })
            </div>
            <div class="col-md-12">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control HeaderBox ", @autofocus = true, onkeyup = "DescriptionOnChange(this);", @id = "DescriptionBOM" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>

                <div class="col-md-12 headSeperator"><i class="fa fa-th ig-yellow" aria-hidden="true"></i> Component Details</div>

                <div class="col-md-12">
                    <div class="col-md-6"></div>
                    <div class="col-md-4">
                        <a class="btn btn-openid" onclick="LoadComponents()" style="color:white;font-weight:bold;"><i class="fa fa-arrow-down"></i> Load Existing Components</a>@*margin-left:70px;*@
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-openid" onclick="AddComponent()" style="color:white;font-weight:bold;float:right;"><i class="fa fa-plus"></i> Add New Component</a>@*//margin-left:20px;*@
                    </div>
                </div>

                <div class="col-md-12" style="height:230px;">
                    <table id="tblBOMComponentDetail" class="table table-striped table-bordered table-hover customgrd" cellspacing="0" width="100%">
                        <thead>
                            <tr class="text-center TableHead">
                                <th>ID</th>
                                <th>ComponentID</th>
                                <th>Component</th>
                                <th>Unit</th>
                                <th>Quantity</th>
                                <th>...</th>
                        </thead>
                    </table>

                </div>

                <div class="form-group" hidden="hidden">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.HiddenFor(model => model.DetailJSON, htmlAttributes: new { @class = "" })
                        <input id="btnSave" type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-10">&nbsp;</div>
                    <div class="col-md-2">
                        <a class="btn btn-openid" onclick="SaveComponentDetail()" style="color:white;font-weight:bold;float:right;">Save & Proceed <i class="fa fa-angle-double-right"></i> </a>@*//margin-left:20px;*@
                    </div>
                </div>

}

<div class="modal fade bs-example-modal-lg" id="ProductListModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="min-width:1150px !important;">
        <div class="modal-content" style="margin-top:4%;">

            <div class="modal-header" style="background-image: url('');background-repeat: repeat;height: 40px;padding: 3px;border-bottom:2px solid rgb(91, 192, 222)!important;">
                <div class="container-fluid" style="padding-right: 0px;">
                    <div class="col-md-9">
                        <div class="col-md-12 modelIcon">
                            <h3 class="modal-title" id="modelContextLabel">Load Existing Components</h3>
                        </div>
                    </div>
                    <div class="col-md-3" style="padding-right: 4px;">
                        <a class="close" data-dismiss="modal" aria-label="Close"><i style="font-size: 33px;" class="fa fa-times-circle" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <div class="container-fluid">

                    <div class="tab-content clearfix">
                        <div class="tab-pane fade in active">
                            <table id="tblProductList" class="table table-striped table-bordered table-hover customgrd" cellspacing="0" width="100%">
                                <thead>
                                    <tr class="text-center">
                                        <th>ProductID</th>
                                        <th></th>
                                        <th>Component</th>
                                        <th>Description</th>
                                        <th>Unit</th>
                                        <th>Type</th>
                                </thead>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal-footer" style="height: 50px;padding: 7px;">
                <a id="btnAddComponents" class="btn btn-primary" onclick="BindComponentToTable()"><i class="glyphicon glyphicon-floppy-disk"></i> Add</a>
            </div>

        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        //ProductId on change
        try {
            $("#ProductID").change(function () {
                debugger;
                CheckBillOfMaterialExist();
                //$('#DescriptionBOM').val('BOM for ' + $($('#ProductID')).children("option[value='" + $('#ProductID').val() + "']").first().html() ).trigger('keyup');
            });
            //$('#hdnProductID').change(function () {
            //    debugger;
            //    $('#Description').val('BOM for ' + "$(this).val()").trigger('keyup');
            //});
            try {
                AddComponentInit();
            } catch (ex) {
                console.log(ex.message);
            }
        } catch (ex) {
            console.log(ex.message);
        }
    });
</script>