@using ProductionApp.UserInterface.App_Start
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div style="width:100%;">
<ol class="breadcrumb">
    <li><a href=@Url.Action("Index", "Home")><i class="fa fa-home"></i> Home</a></li>
    <li>Production</li>
    <li class="active">@ViewBag.Title</li>
</ol>
</div>
<div class="col-md-12">&nbsp;</div>
<div class="col-md-12">
    <div class="col-md-4" style="height:600px">
        
            @{
                @Html.Action("RecentBillOfMaterials", "DashboardProduction");
            }
     
    </div>

    <div class="col-md-4" style="height:600px">
        
            @{
                @Html.Action("GetRecentProductionTracking", "DashboardProduction");
            }
       
    </div>

    <div class="col-md-4" style="height:600px">
      
            @{
                @Html.Action("RecentAssemblyProduct", "DashboardProduction");
            }
         
    </div>
</div>

@Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/jquery")





