@using ProductionApp.UserInterface.App_Start
@model ProductionApp.UserInterface.Models.PurchaseOrderViewModel
@{
    ViewBag.Title = "NewPurchaseOrder";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@section styles {
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/DataTables/css/datatable")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/DataTables/css/datatableButtons")
}
<div style="width:100%;">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-cogs"></i> Purchase Order</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</div>

<section class="content">
    <div class="row" id="OverlayHeader">
        <div class="col-md-6" style="text-align:left">
            <span id="lblReqNo" class="SCHeader">PO# : New</span>
        </div>
        <div class="col-md-6" id="" style="min-height:25px">

            @{
                var data = new { actionType = "List" };
            @Html.Action("ChangeButtonStyle", "PurchaseOrder", data);
            }
        </div>
    </div>
    <div class="row summaryboxes">
        <div class="clearfix visible-sm-block"></div>
    </div>
    <div class="row">
        &nbsp;
    </div>
    <div class="row tableContainer">
        <div class="col-md-12 headSeperator"><i class="fa fa-th ig-aqua" aria-hidden="true"></i> General</div>
        @using (Ajax.BeginForm("InsertUpdatePurchaseOrder", "PurchaseOrder", new AjaxOptions { HttpMethod = "POST", Confirm = "", OnSuccess = "SaveSuccessPurchaseOrder", OnFailure = "NetworkFailure", AllowCache = false, LoadingElementId = "", OnBegin = "", OnComplete = "" }, new { @class = "form-horizontal", role = "form", @id = "PurchaseOrderForm" }))
        {
            <div class="col-md-12">
                <div class="form-group col-md-8">
                    <div class="form-group col-md-12"></div>
                    <div class="form-group col-md-6">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.PurchaseOrderDateFormatted, htmlAttributes: new { @class = "control-label " })
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PurchaseOrderDateFormatted, new { htmlAttributes = new { @class = "form-control HeaderBox datepicker" } })
                                @Html.ValidationMessageFor(model => model.PurchaseOrderDateFormatted, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-1 mandatory"></div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.PurchaseOrderIssuedDateFormatted, htmlAttributes: new { @class = "control-label " })
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PurchaseOrderIssuedDateFormatted, new { htmlAttributes = new { @class = "form-control HeaderBox datepicker" } })
                                @Html.ValidationMessageFor(model => model.PurchaseOrderIssuedDateFormatted, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-1 mandatory"></div>
                        </div>
                    </div>
                    <div class="form-group col-md-12"></div>
                    <div class="form-group col-md-6">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.GeneralNotes, htmlAttributes: new { @class = "control-label " })
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.GeneralNotes, new { htmlAttributes = new { @class = "form-control HeaderBox" } })
                                @Html.ValidationMessageFor(model => model.GeneralNotes, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-1 mandatory"></div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.PurchaseOrderStatus, htmlAttributes: new { @class = "control-label " })
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-11">
                                @{
                                    List<SelectListItem> PurchaseOrderStatus = new List<SelectListItem>();
                                    PurchaseOrderStatus.Add(new SelectListItem
                                    { Text = "Open", Value = "Open", Selected = true });
                                    PurchaseOrderStatus.Add(new SelectListItem
                                    { Text = "Closed", Value = "Closed" });
                                }
                                @Html.DropDownListFor(model => model.PurchaseOrderStatus, PurchaseOrderStatus, new { @class = "form-control", style = "padding:4px 12px;" })
                                @Html.ValidationMessageFor(model => model.PurchaseOrderStatus, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                    <div class="form-group col-md-12"></div>
                    <div class="form-group col-md-6">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.MailingAddress, htmlAttributes: new { @class = "control-label " })
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.MailingAddress, new { htmlAttributes = new { @class = "form-control" , @rows = "3" } })
                            </div>
                            <div class="col-md-1 mandatory"></div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.ShippingAddress, htmlAttributes: new { @class = "control-label " })
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ShippingAddress, new { htmlAttributes = new { @class = "form-control", @rows = "3" } })
                            </div>
                            <div class="col-md-1 mandatory"></div>
                        </div>
                    </div>
                    <div class="form-group col-md-12"></div>
                    <div class="form-group col-md-12">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.PurchaseOrderTitle, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-11">
                                @Html.EditorFor(model => model.PurchaseOrderTitle, new { htmlAttributes = new { @class = "form-control HeaderBox" } })
                                @Html.ValidationMessageFor(model => model.PurchaseOrderTitle, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-1 mandatory"></div>
                        </div>
                    </div>
                    </div>
                <div class="form-group col-md-4" style="padding-left:2%;border-left:1px solid #c2dee0;white-space:nowrap;">
                    <div class="form-group col-md-12 box-header figuresummary rounded">
                        Document Status Block
                    </div>
                </div>
                </div>
        }
                </div>
</section>
