@model ProductionApp.UserInterface.Models.ProductViewModel
@if (@ViewBag.IsRequired == "required")
{
    <div class="input-group">
        @Html.DropDownList("ProductID", Model.ProductSelectList, "--Select product--", new { @class = "form-control", @required = "", @title = "The Product is missing",@style="width:100%", @onchange = "$('#hdnProductID').val(this.value)" })
        <span class="input-group-addon" style="cursor:pointer;color:#015E9A" onclick="AddProductMaster('OTR')"><i class="fa fa-plus-square-o"></i></span>

    </div>
}
else
{
    <div class="input-group">
        @Html.DropDownList("ProductID", Model.ProductSelectList, "--Select product--", new { @class = "form-control", @style = "width:100%", @onchange = "$('#hdnProductID').val(this.value)" })
        <span class="input-group-addon" style="cursor:pointer;color:#015E9A" onclick="AddProductMaster('OTR')"><i class="fa fa-plus-square-o"></i></span>
    </div>
}

@Html.ValidationMessage("ProductID", "", new { @class = "text-danger" })

<script>
    $(document).ready(function () {
        try{
            $('#ProductID').select2({});
            $('#ProductID').val($('#hdnProductID').val());
        }
        catch (e) {
            console.log(e.message);
        }
        try{
            $("#ProductID").change(function () {
                try{
                    BindFinishedGoodStockAdjDetails(this.value)
                }
                catch (e) {
                    console.log(e.message);
                }
            });
        }
        catch (e) {
            console.log(e.message);
        }
        });
</script>

@* New proposed Dropdown Approach *@
@*<div class="form-group col-md-4">
        <div class="col-md-12">
            @Html.LabelFor(model => model.Product, htmlAttributes: new { @class = "control-label lblrequired" })
        </div>
        <div class="col-md-12" id="divProductDropdown">
            @Html.Action("ProductDropdown", "Product", new { required = "required" })
        </div>
        @Html.HiddenFor(model => model.ProductID, new { htmlAttributes = new { @id = "hdnProductID", @value = Guid.Empty } })
    </div>*@
