@using ProductionApp.UserInterface.App_Start
@model ProductionApp.UserInterface.Models.DocumentApprovalAdvanceSearchViewModel

@{
    ViewBag.Title = "Approval History";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section styles {
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/DataTables/css/datatable")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/DataTables/css/datatableButtons")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/css/Select2")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/css/Selectmin")
}

<div style="width:100%;">
    <ol class="breadcrumb">
        <li><a href="/DocumentApproval/ViewPendingDocuments?Code=APR&Name=MyApprovals"><i class="fa fa-cogs"></i>&nbsp;My Approvals</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</div>


<h2>ViewApprovalHistory</h2>


@section Scripts {
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/datatable")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/jsZip")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/datatableButtons")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/UserJs/DocumentApproval/ViewApprovalHistory")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/select2")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/selectmin")
}