@model ProductionApp.UserInterface.Models.MyApprovalsViewModel

<div class="col-md-12">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">@Model.Title</h3>
        </div>

        <div class="with-border @Model.Color " style="height:2px!important"></div>
        <div class="box-body">
            <div class="table-responsive">
                <table class="table no-margin">
                    <thead style="display:table;width:100%;table-layout:fixed;">
                        <tr>
                            <th>Name</th>
                            <th>Material</th>
                            <th>Qty.</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody style="height:150px;max-height:500px;display:table;overflow-y:scroll;table-layout:auto;width:100%;">@*Need display to be changed into block*@
                        @if (Model.MaterialStockAdjList != null)
                        {
                            for (int i = 0; i < Model.MaterialStockAdjList.Count; i++)
                            {
                                <tr>
                                    <th><a href="@Model.MaterialStockAdjList[i].ID">@Model.MaterialStockAdjList[i].Employee.Name</a></th>
                                    <td>@Model.MaterialStockAdjList[i].RawMaterial.Description</td>
                                    <td>@Model.MaterialStockAdjList[i].MaterialStockAdjDetail.Qty</td>
                                    <td><span class="label label-info @Model.Color ">@Model.MaterialStockAdjList[i].DateFormatted</span></td>
                                </tr>
                            }

                            for (int i = (Model.MaterialStockAdjList == null ? 0 : Model.MaterialStockAdjList.Count); i < 5; i++)
                            {
                                <tr>
                                    <th>-</th>
                                    <td>-</td>
                                    <td>-</td>
                                    <td><span class="label label-info @Model.Color ">-</span></td>
                                </tr>
                            }
                        }
                        else
                        {
                            for (int i = 0; i < 5; i++)
                            {
                                <tr>
                                    <th>-</th>
                                    <td>-</td>
                                    <td>-</td>
                                    <td><span class="label label-info @Model.Color ">-</span></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>
