@model ProductionApp.UserInterface.Models.DocumentApprovalViewModel

<div class="col-md-12">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">My Stock Approvals</h3>
        </div>

        <div class="with-border bg-olive " style="height:2px!important"></div>
        <div class="box-body">
            <div class="table-responsive">
                <table class="table no-margin">
                    <thead style="display:table;width:100%;table-layout:fixed;">
                        <tr>
                            <th>Doc.No</th>
                            <th>Doc.Type</th>
                            <th>Status.</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody style="height:250px;max-height:500px;display:block;overflow-y:scroll;width:100%;">@*Need display to be changed into block*@
                        @if (Model.DocumentApprovalList != null)
                        {
                            for (int i = 0; i < Model.DocumentApprovalList.Count; i++)
                            {
                                <tr>
                                    <th><a href="@Model.DocumentApprovalList[i].DocumentID">@Model.DocumentApprovalList[i].DocumentNo</a></th>
                                    <td>@Model.DocumentApprovalList[i].DocumentType</td>
                                    <td>@Model.DocumentApprovalList[i].DocumentStatus</td>
                                    <td><span class="label label-info bg-olive ">@Model.DocumentApprovalList[i].DocumentDateFormatted</span></td>
                                </tr>
                            }

                            for (int i = (Model.DocumentApprovalList == null ? 0 : Model.DocumentApprovalList.Count); i < 5; i++)
                            {
                                <tr>
                                    <th>-</th>
                                    <td>-</td>
                                    <td>-</td>
                                    <td><span class="label label-info bg-olive ">-</span></td>
                                </tr>
                            }
                        }
                        else
                        {
                            for (int i = 0; i < 5; i++)
                            {
                                <tr>
                                    <th>-</th>
                                    <td>-</td>
                                    <td>-</td>
                                    <td><span class="label label-info bg-olive ">-</span></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>
