@model ProductionApp.UserInterface.Models.MaterialViewModel

<div class="col-md-12">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Reorder Alert</h3>
        </div>

        <div class="with-border bg-maroon" style="height:2px!important"></div>
        <div class="box-body">
            <div class="table-responsive">
                <table class="table no-margin">
                    <thead style="display: table;width:100%;table-layout:fixed;">
                        <tr>
                            <th style="width:20%;">Code</th>
                            <th style="width:20%;">Name</th>
                            <th style="width:20%;">Type</th>
                            <th style="width:20%;">Current Stock</th>
                            <th style="width:20%;">Reorder Qty</th>
                        </tr>
                    </thead>
                    @* <tbody style="display:block;overflow-y:scroll;width:100%;height:150px;">@*table-layout:auto;Need display to be changed into block*@
                    <tbody style="height:160px;max-height:500px;overflow-y:no-display;overflow-x:scroll;display:block;width:100%;">
                        @if (Model.MaterialList != null)
                        {
                            for (int i = 0; i < Model.MaterialList.Count; i++)
                            {
                                var str = @Model.MaterialList[i].Description;
                                if (str.Length > 15)
                                    str = str.Substring(0, 15) + "...";

                                <tr>
                                    <td style="width:20%;"><a href="@Url.Action("Index","Material",new { code="MSTR", masterCode=@Model.MaterialList[i].ID })">@Model.MaterialList[i].MaterialCode</a></td>
                                    <td style="width:20%;" title='@Model.MaterialList[i].Description'>@str</td>
                                    <td style="width:20%;">@Model.MaterialList[i].MaterialType.Description</td>
                                    <td style="width:22%;">@Model.MaterialList[i].CurrentStock</td>
                                    <td style="width:18%;">@Model.MaterialList[i].ReorderQty</td>
                                </tr>
                            }

                            for (int i = (Model.MaterialList == null ? 0 : Model.MaterialList.Count); i < 5; i++)
                            {
                                <tr>
                                    <td style="width:20%;">-</td>
                                    <td style="width:20%;">-</td>
                                    <td style="width:20%;">-</td>
                                    <td style="width:22%;">-</td>
                                    <td style="width:18%;">-</td>
                                </tr>
                            }
                        }
                        else
                        {
                            for (int i = 0; i < 5; i++)
                            {
                                <tr>
                                    <td style="width:20%;">-</td>
                                    <td style="width:20%;">-</td>
                                    <td style="width:20%;">-</td>
                                    <td style="width:22%;">-</td>
                                    <td style="width:18%;">-</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>

