@using ProductionApp.UserInterface.App_Start
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div style="width:100%;">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li>Store</li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</div> 
<div class="col-md-12">&nbsp;</div>
<div class="col-md-12">
    <div class="col-md-4" style="height:600px">
        <div class="col-md-12" style="width:100%;">
            @{
                @Html.Action("MyApprovals", "DashboardStore");
            }
        </div>
        <div class="col-md-12" style="width:100%;">
            @{
                @Html.Action("IssueSummary", "DashboardStore");
            }
        </div>
    </div>
    @*<div class="col-md-4" style="height:600px;">
        @{ 
            @Html.Action("ReceiptSummary", "DashboardStore");
        }
    </div>*@
    <div class="col-md-4" style="height:600px;">
        @{ 
            @*@Html.Action("ReOrderAlert", "DashboardStore");*@
        }
    </div>
</div>

@Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/jquery")
