@*@model ProductionApp.UserInterface.Models.ProductCategoryViewModel
<div class="input-group">
    @Html.DropDownListFor(model => model.ProductCategoryCode, Model.SelectList, "---Select Product Category---", new { @class = "form-control", @style = "width:100%" })
    <span class="input-group-addon" style="cursor:pointer;color:#015E9A" onclick="AddProductCategoryMaster('OTR')"><i class="fa fa-plus-square-o"></i></span>
</div>*@
@model ProductionApp.UserInterface.Models.ProductCategoryViewModel
@if (@ViewBag.IsRequired == "required")
{
    <div class="input-group">
        @Html.DropDownList("ProductCategoryCode", Model.ProductCategorySelectList, "--Select category--", new { @class = "form-control newinput", @required = "", @title = "The Product Category is missing", @onchange = "$('#hdnProductCategoryCode').val(this.value)" })
        <span class="input-group-addon" style="cursor:pointer;color:#015E9A" onclick="AddProductCategoryMaster('OTR')"><i class="fa fa-plus-square-o"></i></span>

    </div>
}
else
{
    <div class="input-group">
        @Html.DropDownList("ProductCategoryCode", Model.ProductCategorySelectList, "--Select category--", new { @class = "form-control newinput", @onchange = "$('#hdnProductCategoryCode').val(this.value)" })
        @*<span class="input-group-addon" style="cursor:pointer;color:#015E9A" onclick="AddProductCategoryMaster('OTR')"><i class="fa fa-plus-square-o"></i></span>*@
    </div>
}

@Html.ValidationMessage("ProductCategoryCode", "", new { @class = "text-danger" })

<script>
    $(document).ready(function () {
        $('#ProductCategoryCode').val($('#hdnProductCategoryCode').val());
    });
</script>
